
*{
  transition: all .3s;
}
:root{
    --dark:black;
    --light:white;
    --secondary:#F8F9FA;
    --primary:#f16821;
}


.bgSecondary{
  background-color: var(--secondary) !important;
}
 
.btn1{
  padding: 10px 20px;
 background: none;
 border: 2px solid white;
  color: white;
 font-size: 20px;
  margin: 0px 5px;
  
}
.btn2{
  padding: 10px 20px;
  background-color: var(--light);
  color: var(--dark);
 
  font-size: 20px;
  margin: 0px 5px;
  border: 2px solid white;
  }
  .btn3{
    padding: 5px 10px;
    background: none;
    border: 2px solid black;
     color: var(--light);
    font-weight: bold;
     
     background-color: var(--dark);
     
   }
   
   .btn4{
     padding: 5px 10px;
     background: none;
     border: 2px solid black;
      color: var(--dark);
     font-weight: bold;
      background-color: var(--light);
     }
     
.btn1:hover{

  background-color: var(--light) !important;
  color: var(--dark) !important;
}
.btn2:hover{
  background:none;
  color: var(--light);
}
.btn3:hover{

  background-color: var(--light);
  color: var(--dark);

}
.btn4:hover{
  background:var(--dark);
   color: var(--light);

}

.header{
    background: var(--secondary);
    
}

.mynav{
    position: sticky; 
     top: 0; 
     z-index: 99;
     

}
.popup{
  position: absolute !important;

  z-index: 99999 !important;
}
.popup .img{
  height: 100px ;
  width: 100px;
}
.popup .img img{
  height: 120px ;
  width: 100px;
  object-fit: cover;
}
.popup-item a{
  font-size: 25px;
  color: var(--dark);
  border: 2px solid rgb(198, 196, 196);
  padding: 0px 5px;

}
.popup-item p{
  line-height:1 ;
}



.header-icon a{
    font-size: 14px;
      color: var(--light);
      display: inline-block;
      height: 35px;
      width: 35px;
      background: var(--dark);
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
  }


  .header-conatct a{
    color: var(--dark);
    text-decoration: none;
  }
  .header-mail a{
    color: var(--dark);
    text-decoration: none;
  }
  .header-btn a{
    text-decoration: none;
    color: var(--dark);
  }
  .header-btn button{
    padding: 5px 10px;
    background: none;
    border: 2px solid black;
    font-weight: bold;
    background-color: var(--light);

  }
 
  
  
  .text-orange{
    color: var(--primary);
  }

  .nav-link{
    color: var(--dark) !important;
  }

  .nav-link:hover{
    color: var(--primary) !important;
  }
  .cart-icon{
    
    /* margin-right: 10px; */
  }
  .cart-icon button{
   box-shadow: none !important;
   background-color: var(--primary) !important;
   border: none !important;

  }

  .hero{
    height: 600px;
    width: 100%;
   
    position: relative;
  }

    .hero img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        
     }
    
  .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.518);
    position: absolute;
    top: 0px;
    left: 0px;  
 }
 .hero .text{
    width: 100%;
     position: absolute;
     top: 50%;
      left: 50%; 
      color: white;
     transform: translate(-50%, -50%);
 }
 
  
  
  
    

  .text h1{
    font-size: 60px;
  }
  .text p{
    font-size: 20px;
  }
 
  
.product-img .img{
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}


.product-img .img:hover img{
  scale: 1.1;
}

.product-img .img  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-img a{
  text-decoration: none;
  color: gray;
}
.product-img p{
  font-size: 14px ;
  
}




  .form{
    height: 350px;
    width: 100%;
   
    position: relative;
  }

    .form img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        
     }
    
  .form-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.518);
    position: absolute;
    top: 0px;
    left: 0px;  
 }
 .form-text{
    width: 100%;
     position: absolute;
     top: 50%;
      left: 50%; 
    text-align: center;
    color: white;
     transform: translate(-50%, -50%);
 }
 .form input{
  outline: none;
  background: none;
  border: 2px solid var(--light);
  padding: 10px 100px;
  color: var(--light);
  font-size: 20px;
 }
 .form input::placeholder{
  color: var(--light);
  font-size: 20px;
  font-style: italic;
  
 }
 .form .form-btn{
  background: none;
  border: 2px solid var(--light);
  padding: 10px 20px;
  color: var(--light);
 }

 .form p{
  font-size: 20px;
  
 }

 .feature-image .img{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  
 }
 .feature-text p{
  line-height: 2;
 }

 .feature-image .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
.feature-image .img .overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
   
}


.team-col .img{
  height: 250px;
  width: 100%;
}
.team-col .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team-icon a{

  font-size: 14px;
  color: var(--light);
  display: inline-block;
  height: 35px;
  width: 35px;
  background: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;

}
.team-icon a:hover{
  background-color: rgb(57, 56, 56);
}

.special{
  height: 500px;
  width: 100%;
 
  position: relative;
}

  .special img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0px;
      left: 0px;
      
   }
  
.special-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.518);
  position: absolute;
  top: 0px;
  left: 0px;  
}
.special-text{
  width: 100%;
   position: absolute;
   top: 50%;
    left: 50%; 
  text-align: center;
  color: white;
   transform: translate(-50%, -50%);
}
.special-box{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.special-box h1{
  color: aqua;
}

.service-icon a{
  font-size: 40px;
  color: var(--primary);
}
.service-icon p{
  color: gray;
  line-height: 2;
}
.service-icon h6{
  color: var(--primary);
}


.blog-col .img{
  width: 100%;
  height: 350px;
}
.blog-col .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog-col ul li:hover{
  color: var(--primary);
}

.contact-form input{
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.contact-form textarea{
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  height: 150px;
}
.footer p{
  line-height: 2;
}
.footer li {
  list-style: none;

}
.footer-link a{
  text-decoration: none;
}


.footer-icon a{

  font-size: 14px;
  color: var(--light);
  display: inline-block;
  height: 35px;
  width: 35px;
  background: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;

}
.footer-image .img{
  width: 100%;
  height: 250px;
}
.footer-image .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-image p{
  font-size: 22px;
  font-weight: 400;
}
.copyright a{
  text-decoration: none;
}
.testimon-item{
  padding: 40px 0px;
}
.testimon-item .img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden !important;
  margin: 0 auto;
}
.testimon-item .img img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.carousel-indicators button{
  background: var(--primary) !important;
  

}

/* login form styling */
/* login form styling */
/* login form styling */


.bg-login{
 height: 660px;
  background: url('../images/login7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-text{
  margin-top: 350px;
  
}
.login h2{

  color: var(--primary);

}
.login-from button{
  text-align: center;
}
.login-form input{
  box-shadow: none !important;
 }
 .login-btn{
  background-color: var(--dark);
  color: white;
  padding: 8px 25px;
  font-weight: bold;
  border-radius: 30px;

 }
 .login-btn:hover{
  border: 2px solid var(--dark);
  color: var(--dark);
  background-color: var(--light);
 }
 .login p{
  text-align: center;
  font-weight: bold;
  margin-top: 140px;

 }
 .login a{
  color: var(--primary);
 }

 .signup-para {
  text-align: center;
  font-weight: bold;
  margin-top: 70px !important;

 }


/* cart page styling */
/* cart page styling */
/* cart page styling */

.icon-col a{
  font-size: 22px !important;
  color: red !important;
  text-decoration: none;

}

.table{
  background-color: #f7f7f7 !important;
}









 /* media quiries */
 /* media quiries */
 /* media quiries */



 @media (max-width:580px) {

  .form-btn{
    margin-top: 10px;
  }
  
 }

 @media (max-width:450px) {

  .form input{
    padding: 10px 50px;
  }
  
 }
 @media (max-width:660px) {

  .special-box{
    margin-top: 5px;
  }
  
 }
 @media (max-width:660px) {

  .special{
    height:650px ;
  }
  
 }
 @media (max-width:798px) {

  .header-second{
    text-align: center;
    margin-top: 5px ;
    margin-left: 10px;
    margin-right: 10px;
  }
  
 }
 @media (max-width:566px) {

  .header-btn{
    margin-top: 5px ;
      }
  
 }
 @media (max-width:768px) {

  .bg-login{
    order: 2;
      }
  
 }
 